# === Archivos sensibles o de configuración ===
GoalMind-AI/.env

# === Entorno virtual ===
GoalMind-AI/venv/

# === Cachés y archivos temporales de Python ===
GoalMind-AI/__pycache__/*
GoalMind-AI/**/*.pyc
GoalMind-AI/**/*.pyo
GoalMind-AI/**/*.pyd

# === Artefactos de tests / cobertura ===
GoalMind-AI/.coverage
GoalMind-AI/coverage.json
GoalMind-AI/.pytest_cache/
GoalMind-AI/htmlcov/



# === Archivos del sistema ===
.DS_Store
Thumbs.db

# === Archivos de editores ===
.vscode/
.idea/
/docs/
*.md
*.tex

# === Archivos generados o personales ===
documentation.pdf
plantilla_tfg_word.docx
experimentacion.txt
mockup_inicial.html
info.txt

# === Archivos de construcción o instalación ===
GoalMind-AI/*.egg-info/
GoalMind-AI/build/
GoalMind-AI/dist/
GoalMind-AI/controllers/__pycache__/task_controller.cpython-39.pyc
GoalMind-AI/controllers/__pycache__/task_controller.cpython-39.pyc
GoalMind-AI/database/__pycache__/mongo_conn.cpython-312.pyc
GoalMind-AI/database/__pycache__/mongo_conn.cpython-312.pyc
GoalMind-AI/uploads/
GoalMind-AI/controllers/__pycache__/goal_controller.cpython-312.pyc
GoalMind-AI/controllers/__pycache__/task_controller.cpython-312.pyc
GoalMind-AI/database/__pycache__/mongo_conn.cpython-312.pyc
