{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panels.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/task_menu.css') }}">

<section class="mission-shell mission-shell--projects">
  <div class="mission-grid mission-grid--workbench">
    <section class="mission-main">
      {% include "partials/projects_templates/project_header.html" %}
      {% include "partials/projects_templates/project_center_panel.html" %}
    </section>
    <aside class="mission-side-panel">
      {% include "partials/projects_templates/project_right_panel.html" %}
    </aside>
  </div>
</section>
{% endblock %}
